FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID
FIREBASE_CREDENTIALS_PATH=app/firebase-service-account.json

# You can generate a new private key from Firebase Console -> Project Settings -> Service accounts
# Save it as firebase-service-account.json in the `apps/api/app/` directory.

DATABASE_URL=<TO_BE_FILLED>